<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    
{% load static %}
<script src="{% static 'core/js/jquery.min.js' %}"></script>
<script src="{% static 'core/js/jqueryui.min.js' %}"></script>
<script src="{% static 'core/js/d3.min.js' %}"></script>
<script src="{% static 'core/js/d3.layout.min.js' %}"></script>
<script src="{% static 'core/js/rickshaw.min.js' %}"></script>
<script src="{% static 'core/js/Rickshaw.Graph.HoverDetail.js' %}"></script>
<script>var url = "{% url 'record' %}";</script>
<script src="{% static 'core/js/Rickshaw.Graph.Legend.js' %}"></script>
<link href="{% static 'core/rickshaw.min.css'  %}" rel="stylesheet"/>
<link href="{% static 'core/legend.css' %}" rel="stylesheet"/>
<link href="{% static 'core/detail.css' %}" rel="stylesheet"/>
<link href="{% static 'core/graph.css' %}" rel="stylesheet"/>

<link href="{% static 'core/bootstrap.min.css' %}" rel="stylesheet"/>

<link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}" />
    <title>Songtrain</title>

  </head>
  <body>
    <h1>SongTrain</h1>
    <div class="list">Sing Evaluate Improve</div>


    {% block content %}
    {% endblock %}
  </body>
</html>


