{% extends 'base.html' %}


{% block content %}
      
      <div class="intro">Learn to sing your favourite songs using this web app.
    Upload your song. Get the best in class karaoke. Give us your recording , get your singing graph.
    </div>
      
      <div class = "btn btn-primary" onclick = "window.location.href = '{% url 'simple_upload' %}';" id = "start">
        Get Started!
      </div>
      
      

      
      
  <!--<p>Uploaded files:</p>
  <ul>
    {% for obj in documents %}
      <li>
        <a href="{{ obj.document.url }}">{{ obj.document.name }}</a>
        <small>(Uploaded at: {{ obj.uploaded_at }})</small>
      </li>
    {% endfor %}
  </ul> -->
{% endblock %} 
